@charset "UTF-8";
.product-card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: #fff;
}

/* Hover lift */
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}